body {
  background-color: rgb(148, 205, 255);
}

.quiz {
  display: block;
  text-align: center;
}

h1 {
  color: rgba(13, 79, 2, 0.577);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-shadow: -1px -1px 0 #f6ffa3, 1px -1px 0 #f6ffa3, -1px 1px 0 #f6ffa3, 1px 1px 0 #f6ffa3;
}

#answers {
  margin-top: 25px;
}

img {
  width: 300px;
  height: auto;
  float: left;
  border: 1px black solid;
  border-radius: 1000px;
  box-shadow: 10px 10px 35px;
  padding: 50px;
  margin-right: 40px;
  margin-top: 5px;
}

h4 {
  margin-top: 25px;
}

.hidden {
  display: none;
}
form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 300px;
  border: 2px gray solid;
  box-shadow: 10px 10px 35px;
  box-sizing: border-box;
  padding: 20px;
}

form input {
  opacity: 0.7;
  filter: alpha(opacity=90);
}

form p {
  margin-bottom: 0px;
  margin-top: 20px;
}

label {
  margin-top: 25px;
}

option {
  text-align: center;
}

button {
  margin-top: 25px;
}

select {
  text-align: center;
  display: block;
  margin: 0 auto;
  opacity: 0.7;
  filter: alpha(opacity=90);
}